@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    // Layout = "/Views/Shared/_Layout.cshtml";
}

<div style="width:330px; height:420px; margin-left:480px; margin-bottom:20px; margin-top: 70px; border-radius: 5px; padding:20px; box-shadow: 0 0 10px 1px rgba(221,221,221,0.7);">
    <div class="row">
        @*<div class="col-md-4">*@
        <section>
            <form id="account" method="post">
                <h4 style="margin-bottom:30px;">Вход</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h6 style="margin-bottom:15px;">Введите логин</h6>

                <div class="form-floating" style="margin-bottom:20px;">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <h6 style="margin-bottom:15px;">Введите пароль</h6>

                <div class="form-floating" style="margin-bottom:30px;">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn btn-outline-secondary" style="width: 160px; margin-left: 60px">Войти</button>
                </div>
            </form>
        </section>
        @*</div>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
