@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<a asp-controller="User" asp-action="Index"><p style="font-size:90%; margin-top: 30px; ">Вернуться обратно</p></a>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <h3>Добавить сотрудника</h3>

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-group">
        <label asp-for="Input.LastName">Фамилия</label>
        <input asp-for="Input.LastName" class="form-control" aria-required="true"/>
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.FirstName">Имя</label>
        <input asp-for="Input.FirstName" class="form-control" aria-required="true"/>
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.MiddleName">Отчество</label>
        <input asp-for="Input.MiddleName" class="form-control" aria-required="true"/>
        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.PhoneNumber">Номер телефона</label>
        <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true"/>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Email">Эл.почта</label>
        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.UserName">Логин</label>
        <input asp-for="Input.UserName" class="form-control" aria-required="true"/>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password">Пароль</label>
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword">Подтверждение пароля</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button id="registerSubmit" type="submit" class="btn btn-outline-primary">Создать</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
