@using Kiseleva.GraduationProject.Entities
@model Organisation

@{
    ViewData["Title"] = "Delete Page";
}

<body class="body2">
    <form method="post" asp-action="DeleteOrganisation" enctype="multipart/form-data">

            <a asp-controller="Organisation" asp-action="Index"><p style="font-size:90%; margin-top: 30px;">Вернуться обратно</p></a>
     
            <h3>Удаление</h3>

            <h6>Вы уверены, что хотите удалить эту организацию?</h6>

            <p>@Model.FullName</p>
    </form>

    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Удалить" class="btn btn-outline-danger" />                
    </form>
   
</body>



